body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    background-image: url('https://static.mobly.com.br/p/Fran-Adesivo-Papel-de-Parede-Romantico-Mod-012-60x300cm-1905-2815401-3-zoom.jpg'); /* Substitua pelo caminho real da sua imagem de corações */
    background-size: cover;
    background-blend-mode: overlay; /* Adiciona um efeito de sobreposição para um toque mais suave */
    text-align: center;
  }
  
  #book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
  }
  
  .page {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 80%;
    text-align: left;
    display: none;
  }
  
  .page img {
    max-width: 100%; /* Ajuste o valor conforme necessário */
    height: auto;
  }
  
  #prev-page, #next-page {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
